:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Dark-green : hsl(158, 40%, 16%);
    
}
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:var(--Cream) ;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.row {

    background-color: var(--White);
    width: 34rem;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}
.image{
    width: 17rem;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.image2{
    width: 17rem;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
 }
.col{
    padding: 30px;
    }

.small_title{
   font-family: 'Montserrat', sans-serif;
   color: var(--Dark-grayish-blue);
   font-weight:500;
   font-size: 14px;
}
.big-title{
    font-family: 'Fraunces', serif;
    font-weight: 700;

}
p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: var(--Dark-grayish-blue);
}
.moneyContent{
    display: flex;
    gap: 20px;
    align-items: center;
}
.money{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--Dark-cyan);
}
.icon{
    width: 14px;
}
.btn{
    background-color: var(--Dark-cyan);
    border: none;
    width: 100%;
    padding: 13px;
    cursor: pointer;
    color: var(--White);
    font-family: Montserrat,sans-serif;
    border-radius: 10px;
    font-size: 14px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn:hover {
    background-color:var(--Dark-green);
    color: white;
  }


/* ------------------------------------------ */
@media only screen and (max-width:600px){
 .container{
    margin:7%;
    width: auto;
}
   .row{
    flex-direction: column;
}
   .image2{
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    width: 100%;
}
   .image{
    display: none;
}
 .col{
    padding: 30px;
}
 .btn{
    width: 100%;
}


}
  @media only screen and (max-width:375px){
         .container{
            top:0px;
            height:100%;
         }
         .image{
            display: none;
            
         }
         .row{
            height: 10%;
            flex-direction: column;
            width: 25rem;
            margin :20px;
         }
         .image2{
            width: 18.9rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0px;
            display: inline-block;
         }
         .moneyContent{
            gap: 3rem;
         }
         .col{
            padding: 25px;
         }
         .btn{
            width: 100%;
         }
  }































